<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mobilcard.mcoffice.database.mappers.cbo.TaxMapper">
    <resultMap id="resultMap" type="ru.mobilcard.mcoffice.database.models.cbo.TaxModel">
        <id     property="id"           column="id" />
        <result property="name"         column="nname"/>
        <result property="taxValue"     column="tax_value"/>
        <result property="taxState"     column="tax_state"/>
        <result property="ecrTaxCode"   column="ecr_tax_code"/>

    </resultMap>

    <select id="getCollectionData" resultMap="resultMap">
        select * from cbo.taxs;
    </select>

    <select id="getById" resultMap="resultMap">
        select * from cbo.taxs b where b.id = #{id};
    </select>

    <insert id="insert">
        insert into cbo.taxs (nname,tax_value,tax_state,ecr_tax_code)
        VALUES( #{name},
                #{taxValue},
                #{taxState}::"types".unitdisablestate,
                #{ecrTaxCode});
    </insert>

    <insert id="insertCollection" parameterType="java.util.Set">
        insert into cbo.taxs
        (nname,tax_value,tax_state,ecr_tax_code)
        values
        <foreach collection="collection" item="element" index="index" separator=",">
            (   #{name},
            #{taxValue},
            #{taxState}::"types".unitdisablestate,
            #{ecrTaxCode}  )
        </foreach>
<!--        SELECT * FROM dual-->
    </insert>

    <delete id="delete">
        delete from cbo.taxs where id = #{id}
    </delete>

    <delete id="deleteCollection" parameterType="java.util.Set">
        delete from cbo.taxs where id in (
        <foreach collection="collection" item="element" index="index" separator=",">
            #{element.id}
        </foreach>
        )
    </delete>

    <update id="update">
        update cbo.taxs set
        nname = #{name},
        tax_value = #{taxValue},
        tax_state = #{taxState}::"types".unitdisablestate,
        ecr_tax_code = #{ecrTaxCode}
        where id = #{id}
    </update>

    <update id="updateCollection">
        BEGIN;
        <foreach collection="collection" item="element" index="index" separator=";">
            update cbo.taxs set
            nname = #{name},
            tax_value = #{taxValue},
            tax_state = #{taxState}::"types".unitdisablestate,
            ecr_tax_code = #{ecr_tax_code}
            where id = #{id}
        </foreach>;
        END;
    </update>

    <select
            id="getByModel"
            resultMap="resultMap">

        select *
        from cbo.taxs
        where 1 = 1
        <if test="name != null">
            and lower(nname) like lower('%' || #{name} || '%')
        </if>
        <if test="taxValue != null">
            and tax_value = #{taxValue}
        </if>
        <if test="taxState != null">
            and tax_state = #{taxState}::"types".unitdisablestate,
        </if>
        <if test="ecrTaxCode != null">
            and ecr_tax_code = #{ecrTaxCode}
        </if>
        order by nname;
    </select>

</mapper>