<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mobilcard.restservice.mappers.cbo.Tag1214WayPaymentMapper">

    <resultMap id="tag1214WayPaymentResultMap" type="ru.mobilcard.restservice.models.cbo.Tag1214WayPaymentModel">
        <id     property="id"           column="id" />
        <result property="name"         column="nname"/>
    </resultMap>

    <select id="getCollectionData" resultMap="tag1214WayPaymentResultMap">
        select * from cbo.tag1214_way_payment;
    </select>

    <select id="getById" resultMap="tag1214WayPaymentResultMap">
        select * from cbo.tag1214_way_payment where id = #{id};
    </select>

    <insert id="insert">
       insert into cbo.tag1214_way_payment (nname) VALUES( #{name});
    </insert>

    <insert id="insertCollection" parameterType="java.util.Set">
        insert into cbo.tag1214_way_payment (nname) values
        <foreach collection="collection" item="element" index="index" separator=",">
            (#{element.name})
        </foreach>
<!--        SELECT * FROM dual-->
    </insert>

    <delete id="delete">
        delete from cbo.tag1214_way_payment where id = #{id}
    </delete>

    <delete id="deleteCollection" parameterType="java.util.Set">
        delete from cbo.tag1214_way_payment where id in (
        <foreach collection="collection" item="element" index="index" separator=",">
            #{element.id}
        </foreach>
        )
    </delete>

    <update id="update">
        update cbo.tag1214_way_payment set nname = #{name} where id = #{id}
    </update>

    <update id="updateCollection">
        BEGIN;
        <foreach collection="collection" item="element" index="index" separator=";">
            update cbo.tag1214_way_payment set nname = #{element.name} where id = #{element.id}
        </foreach>;
        END;
    </update>

    <select
            id="getByModel"
            resultMap="tag1214WayPaymentResultMap">

        select * from cbo.tag1214_way_payment tag
        where 1 = 1
        <if test="id != null" >
            and tag.id = #{id} ||
        </if>
        <if test="name != null">
            and lower(tag.nname) like lower('%' || #{name} || '%')
        </if>

    </select>

</mapper>