<mat-card-content>
        {{ filterData | json }}
        
          <div class="sticky-header">
          
          <table mat-table  [dataSource]="parentTable.dataSource" class="mat-elevation-z8" 
          matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
          
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? parentTable.masterToggle() : null"
                                [checked]="parentTable.selection.hasValue() && parentTable.isAllSelected()"
                                [indeterminate]="parentTable.selection.hasValue() && !parentTable.isAllSelected()"
                                [aria-label]="parentTable.checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? parentTable.selection.toggle(row) : null"
                                [checked]="parentTable.selection.isSelected(row)"
                                [aria-label]="parentTable.checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              
              <span *ngFor="let item of parentTable.displayedColumns">
                  <ng-container matColumnDef={{item}}>
                    <!-- mat-sort-header disableClear -->
                    <th mat-header-cell *matHeaderCellDef>
                        <div mat-sort-header disableClear > {{parentTable.getViewHeader(item)}} </div>
                    <div>
                          <span *ngIf="parentTable.isTextField(item)">
                              <mat-form-field (click)="parentTable.getViewHeader(item)">
                              <input matInput
                                  placeholder="Фильтр"
                                  (keyup)=parentTable.fieldFilterData(item,$event.target.value)
                                  (keyup.enter)=parentTable.filteredTableData()>
                              </mat-form-field>
                          </span>
                          <span *ngIf="parentTable.isSelectEnumField(item)">
                              <mat-form-field>
                              <mat-label>Фильтр</mat-label>
                              <mat-select (selectionChange)=parentTable.filteredTableData()
                                          [(ngModel)]="parentTable.filterData[item]">
                                  <mat-option *ngFor="let enumDb of parentTable.getEnumByKey(item)" 
                                              [value]="enumDb.enumName">{{enumDb.text}}
                                  </mat-option>
                              </mat-select>
                              </mat-form-field>
                          </span>
                          <span *ngIf="parentTable.isCheckBoxField(item)">
                              <section>
                                  <mat-checkbox [(ngModel)]="parentTable.filterData[item]"></mat-checkbox>
                            </section>
                              
                          </span>
                      </div>
                  </th>
                    
                    
                                    
                    <td mat-cell *matCellDef="let element" >  
                      <!-- {{element[item] !== null ? element[item] : "не задан"}}  -->
                      {{parentTable.getValueFromElement(element, item)}}
                    </td>
                </ng-container> 
              </span>
              
              <tr mat-header-row *matHeaderRowDef="parentTable.displayedColumnsWithSelect; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: parentTable.displayedColumnsWithSelect;" 
                          class="table-row" 
                          (click)="parentTable.selection.toggle(row)"></tr>
              
            </table>
          </div>
          <mat-paginator [length]="parentTable.resultsLength" [pageSize]="30"></mat-paginator>
        </mat-card-content>