<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mobilcard.restservice.mappers.metadata.UserMapper">
    <select id="getCollectionData" resultType="ru.mobilcard.restservice.models.metadata.UserModel">
        select * from metadata.md_user;
    </select>
</mapper>