.table-card-content  {
    width: 98%;
    height: 100%;
    position: center;
    top: 0;
    left: 0;
    overflow: auto;
}
table {
    width: 100%;
    text-align: center !important;
}
 
.mat-header-cell {
text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.table-row:hover {
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
    box-shadow: 
        0 16px 24px 2px rgba(0, 0, 0, 0.14), 
        0 6px 30px 5px rgba(0, 0, 0, 0.12), 
        0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.table-row:active {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}

.sticky-header{
    height: 90%;
    overflow: auto;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.mat-header-cell{
    height: 150px;
}

.table-right-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 80%;
    min-width: 80%;
}
.editor-content{
    padding: 20px;
}
